*.bak
*.summary
*.sft
*.vo
*.xrf
*.kpt
*.qmsg
*.cdb
*.hdb
*.bpm
*.rdb
*.idb
*.logdb
*.hsd
*.db_info
*.hier_info
*.hif
*.html
*.ammdb
*.lpc.txt
*.ddb
*.flock
*.sci
*.smart_action.txt
*.tdb
*.json
*.dfp
*.sig
*.rcfdb
*.dpi
*.hb_info
*.done
*.rpt
*.jdi
*.pin
*.smsg
*.sld
*.qdf
c5_pin_model_dump.txt
*.qsf
*.xml
*.tmw_info
*.cdf
*.nvd